<div class="homepage">
  <div *ngIf="!propertyDetails" class="column center">
    <div class="logo row center">
      <span [style.color]="'#4285f4'">B</span>
      <span [style.color]="'#ea4335'">r</span>
      <span [style.color]="'#fbbc05'">o</span>
      <span [style.color]="'#4eb46a'">w</span>
      <span [style.color]="'#4285f4'">s</span>
      <span [style.color]="'#ea4335'">e</span>
      <span [style.color]="'#4eb46a'">r</span>
      &nbsp;
      <span [style.color]="'#4285f4'">O</span>
      <span [style.color]="'#ea4335'">b</span>
      <span [style.color]="'#fbbc05'">j</span>
      <span [style.color]="'#4eb46a'">e</span>
      <span [style.color]="'#4285f4'">c</span>
      <span [style.color]="'#ea4335'">t</span>
      <span [style.color]="'#4eb46a'">s</span>
    </div>
    <div class="relative">
      <input #searchText type="text" maxlength="30" (keyup)="0" (click)="showDropdown = !showDropdown"/>
      <svg class="search-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="#666" d="M31.008 27.231l-7.58-6.447c-0.784-0.705-1.622-1.029-2.299-0.998 1.789-2.096 2.87-4.815 2.87-7.787 0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12c2.972 0 5.691-1.081 7.787-2.87-0.031 0.677 0.293 1.515 0.998 2.299l6.447 7.58c1.104 1.226 2.907 1.33 4.007 0.23s0.997-2.903-0.23-4.007zM12 20c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8-3.582 8-8 8z"></path>
      </svg>
      <div *ngIf="showDropdown" class="dropdown">
        <div class="option row" *ngFor="let object of objects">
          <div>{{object.text}}</div>
          <div>{{object.progress}}</div>
        </div>
      </div>
    </div>
    <div>{{searchText.value}}</div>
  </div>
</div>
