<div>
  <h1>window-object works!</h1>
  <div>-----------LIST BELOW----------</div>
  <ul>
    <li class="text" *ngFor="let item of items | async">
      {{item.$value}}
    </li>
  </ul>
  <div class="row">
    <input type="text" #box (keyup.enter)="addToList(box.value)"/>
    <button (click)="addToList(box.value)">Submit</button>
  </div>
  <br/>
  <div>-----------OBJECT BELOW----------</div>
  <div>{{ tests | async | json }}</div>
  <br/>
  <div>-----------WINDOW OBJECT BELOW----------</div>
  <div>
    <div *ngFor="let property of window | async">
      <br/>
      <div class="row" (click)="property.show = !property.show">
        <div>-V-</div>
        <div>{{property.$key}}</div>
      </div>
      <div *ngIf="property.show">{{property.description}}</div>
    </div>
  </div>
</div>
